# Główne biblioteki Deep Learning
torch>=2.0.0
torch-geometric>=2.3.0

# Baza danych i ewaluacja (Open Graph Benchmark)
ogb>=1.3.6

# Uczenie maszynowe i metryki
scikit-learn>=1.2.0
numpy>=1.23.0
pandas>=1.5.0

# Wizualizacja danych i grafów
matplotlib>=3.7.0
seaborn>=0.12.0
networkx>=3.0

# Środowisko Jupyter (Opcjonalne, ale zalecane do uruchomienia .ipynb)
jupyter>=1.0.0
ipykernel>=6.0.0